<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사업자번호 확인</title>
    <style>
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <form>
      <p class="item item1">
        <label for="businessNo">사업자번호</label>
        <input type="text" id="businessNo" name="businessNo" />
        <button id="chkBtn">확인</button>
      </p>
      <p class="item item2 hidden">
        <label for="start_dt">개업일자</label
        ><input type="text" id="start_dt" /> <label for="p_nm">대표자명</label
        ><input type="text" id="p_nm" />
        <button id="chkBtn2">확인</button>
      </p>
    </form>
    <script type="module">
      import { ajax } from '/js/common.js';
      const $chkBtn = document.getElementById('chkBtn');

      const chkBtn = res => {
        if (res.header.rtcd == '00') {
          if ('01' in res.data) {
            console.log(res.data['01']);
          }
          if ('02' in res.data) {
          }
          if ('03' in res.data) {
          }
        } else {
          new Error(`${res.header.rtmsg}`);
        }
      };

      const chkBtn_h = e => {
        console.log(e);
        e.preventDefault();

        const businessNo = document.getElementById('businessNo').value;
        const url = '/pubData2/bn10';
        const payLoad = { b_no: [businessNo] }; // { "businessNo" : ["1111111"] }
        //요청 헤더에 데이터 포함
        ajax
          .post(url, payLoad)
          .then(res => res.json())
          .then(res => chkBtn(res))
          .catch(err => console.log(err));
      };
      $chkBtn.addEventListener('click', chkBtn_h, false);
    </script>
  </body>
</html>
