<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사업자번호 확인</title>
    <style>
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <form>
      <div class="msg"></div>
      <p class="item item1">
        <label for="businessNo">사업자번호</label>
        <input type="text" id="businessNo" name="businessNo" />
        <button id="chkBtn">확인</button>
      </p>
      <p class="item item2 hidden">
        <label for="start_dt">개업일자</label>
        <input type="text" id="start_dt" />
        <label for="p_nm">대표자명</label>
        <input type="text" id="p_nm" />
        <button id="chkBtn2">확인</button>
      </p>
    </form>
    <script type="module">
      import { ajax } from '/js/common.js';
      const $msg = document.querySelector('.msg');
      const $chkBtn = document.getElementById('chkBtn');
      const $chkBtn2 = document.getElementById('chkBtn2');

      //사업자 등록상태조회
      const chkBtn = res => {
        if (res.header.rtcd == '00') {
          if ('01' in res.data) {
            //계속사업자
            console.log(res.data['01']);
            const $item2 = document.querySelector('.item.item2');
            if ($item2.classList.contains('hidden')) {
              $item2.classList.remove('hidden');
            }
            document.getElementById('businessNo').disabled = true;
            $chkBtn.disabled = true;
            //
            return;
          }
          if ('02' in res.data) {
            //휴업자
            $msg.textContent = '휴업자';
            return;
          }
          if ('03' in res.data) {
            //폐업자
            $msg.textContent = '폐업자';
            return;
          }
          if ('00' in res.data) {
            //기타
            $msg.textContent = '사업자를 찾을 수 없습니다.';
            document.getElementById('businessNo').focus();
            return;
          }
        } else {
          new Error(`${res.header.rtmsg}`);
        }
      };

      const chkBtn_h = e => {
        console.log(e);
        e.preventDefault(); // form.submit() 기본 이벤트 막기

        const businessNo = document.getElementById('businessNo').value;
        const url = '/pubData2/bn10';
        const payLoad = { b_no: [businessNo] }; // { "businessNo" : ["1111111"] }
        //요청 헤더에 데이터 포함
        ajax
          .post(url, payLoad)
          .then(res => res.json())
          .then(res => chkBtn(res))
          .catch(err => console.log(err));
      };
      $chkBtn.addEventListener('click', chkBtn_h, false);

      //사업자 진위 확인
      const chkBtn2 = res => {
        console.log(res);
        if (res.status_code == 'OK') {
          if (res.data[0].valid == '01') {
            //유효한 사업자
            console.log('유효한사업자');
          } else {
            //무효한 사업자
            console.log('무효한사업자');
            $msg.textContent = res.data[0].valid_msg; //확인할 수 없습니다.
          }
        } else {
          throw new Error('서버확인후 재요청!!');
        }
      };

      const chkBtn2_h = e => {
        e.preventDefault();

        //유효성 체크
        const $start_dt = document.getElementById('start_dt'); //개업일
        const $p_nm = document.getElementById('p_nm'); //대표자명

        if ($start_dt.value.trim().length < 1) {
          $msg.textContent = '개업일자가 누락되었습니다.';
          $start_dt.focus();
          return;
        }
        if ($p_nm.value.trim().length < 1) {
          $msg.textContent = '대표자명이 누락되었습니다.';
          $p_nm.focus();
          return;
        }

        const url = `/pubData2/bn11`;
        const payLoad = {
          businesses: [
            {
              b_no: document.getElementById('businessNo').value,
              start_dt: $start_dt.value,
              p_nm: $p_nm.value,
            },
          ],
        };

        ajax
          .post(url, payLoad)
          .then(res => res.json())
          .then(res => chkBtn2(res))
          .catch(err => console.log(err));
      };
      $chkBtn2.addEventListener('click', chkBtn2_h, false);
    </script>
  </body>
</html>
